.version-item {
    padding:10px;
}

.version-item article {
    padding:20px 40px;
    background-color: #337ab7;
    color: #fff;
}

.version-item article h3 {
    color: #e9e831;
    margin-top: 0;
}

.version-item article h3 span{
    color: #eee;
    font-size:14px;
}

.version-item article dl{
    margin:0;
}