/*.site-login {
    padding: 60px 0 120px;
}*/

#site-login header {
    background: #fff;
    border-top:40px solid #3A3A3C;
    padding:14px 0;
}

#site-login header .logo {
    width:240px;

}

#site-login footer {
    background: #3A3A3C;
    color:#fff;
    font-size:24px;
    padding:40px 0;
}

#login-form {
    margin-top:30px;
}

.form-horizontal .control-label {
    color:#fff;
    /*background: #e00024;
    text-align: center;*/
    padding-bottom: 7px;
}

.form-horizontal label {
    color:#fff;
}

body {
    /*background: #9b1316;*/
    background: #ED1B23;
}

.has-error .help-block {
    color:#fff;
}