.dir-item {
    width:200px;
    float:left;
    /*cursor: pointer;*/
    display: block;
    overflow: hidden;
    padding-bottom:20px;
    color:#333;
}

.breadcrumb {
    border-radius: 0;
    background-color: #fff;
}
.breadcrumb > li + li::before  {
    color: #ccc;
    content: ">";
    padding: 0 2px 0 0;
}
.dir-item:hover{
    /*background: #f5f5f5;*/
}

/*.dir-item .info.hover {
    color:#337ab7;
}*/

.dir-item .icon img{
    width:100%;
    border-radius: 2px;
}

.dir-item a {
    display: block;
    overflow: hidden;
    color:#000;
}

.dir-item .name {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
}

.dir-item a:hover img {
    background: #e2e2e2;
}

.dir-item a:hover {
    text-decoration: none;
    color:#337ab7;
}

.dir-item a:hover .name {
    background: #116cd6;
    border-radius: 2px;
}