#list-head {
    position: fixed;
    z-index: 111;
    background: #FFF;
}

.breadcrumb {
    margin-bottom: 10px;

}

#buttons {
    padding: 0 4px;


}


#left_btns {
    float:left;
    display: block;
    width:488px;
}

#left_btns .btn {
    display: block;
    float:left;
    margin-right:4px;
}

#right_btns {
    float:left;
    display: block;
    text-align: right;
    width:304px;
    padding-right: 10px;
    height:35px;
    line-height:35px;
}

#file-nav {
    padding: 0 4px;
}

#file_list {
    margin-top:110px;
    z-index: -1;
    overflow: hidden;
    /*margin-top: 10px;*/
}

.file-item {
    height:280px;
}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item .icon {
    display: block;
    width:100px;
    margin-left:49px;
    overflow: hidden;
}

.file-item .icon img{
    border-radius: 4px;
}

.file-item .info {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}

.file-item2 {
    height:25px;
    line-height: 25px;
    float:none;
    width:auto;
    margin-bottom: 10px;

}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item2 .icon {
    display: block;
    width:20px;
    margin-left:12px;
    overflow: hidden;
    float:left;
}

.file-item2 .icon img{
    border-radius: 4px;
}

.file-item2 .info {
    margin-top:2px;
    display: block;
    float:left;
    width: auto;
    overflow: hidden;
}

.file-item2 .info .filename {
    width:200px;
    float:left;
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
}

.file-item2 .info .filesize {
    width:80px;
    float:left;
    margin-left: 10px;
    text-align: right;
}

.file-item2 .info .upload_time {
    width:120px;
    float:left;
    text-align: right;
    margin-left: 20px;
}

.file-item2 .info .upload_uid {
    width:64px;
    float:left;
    text-align: right;
    margin-left: 10px;
}

.file-item2 .info .download_times {
    width:64px;
    float:left;
    text-align: right;
    margin-left: 10px;
}

.file-item2 .info .click_btns {
    width:168px;
    float:left;
    text-align: left;
    margin-left: 10px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}


.btn-success,
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus{
    background-color: #ED1B23;
    border-color: #FD1123;
}


.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:hover,
.btn-success:focus {
    background-color: #D60000;
    border-color: #D60000;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus{
    background-color: #4379A9;
    border-color: #57A2AD;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #365a7f;
    border-color: #46828c;
}


.click_btns .btn {
    padding:0 10px;
    line-height: 16px;


}

.pagination {
    margin: 0;
}


/*  modal_upload_common  */
#upload_progress .progress-item {
    height:24px;
    margin-bottom: 16px;
    overflow: hidden;
}

#upload_progress .progress-item .progress-title {
    width:200px;
    padding-right:20px;
    float:left;
    overflow: hidden;
    word-break: break-all;

}

#upload_progress .progress-item .progress {
    width:668px;
    float:left;
}