.breadcrumb {
    margin-bottom: 10px;
}

#buttons {
    padding: 0 4px;
}

#file-nav {
    padding: 0 4px;
}

.file-item {
    height:280px;
}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item .icon {
    display: block;
    width:100px;
    margin-left:49px;
    overflow: hidden;
}

.file-item .icon img{
    border-radius: 4px;
}

.file-item .info {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}


.btn-success, .btn-success.disabled, .btn-success.disabled:hover{
    background-color: #ED1B23;
    border-color: #FD1123;
}

.btn-success:hover {
    background-color: #D60000;
    border-color: #D60000;
}

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover{
    background-color: #4379A9;
    border-color: #57A2AD;
}

.btn-primary:hover {
    background-color: #365a7f;
    border-color: #46828c;
}
