.breadcrumb {
    margin-bottom: 10px;
}

#buttons {
    padding: 0 4px;
}

#file-nav {
    padding: 0 4px;
}

.file-item {
    height:280px;
}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item .icon {
    display: block;
    width:100px;
    margin-left:49px;
    overflow: hidden;
}

.file-item .icon img{
    border-radius: 4px;
}

.file-item .info {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}

.file-item2 {
    height:30px;
    float:none;
    width:auto;
    margin-bottom: 10px;

}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item2 .icon {
    display: block;
    width:30px;
    margin-left:12px;
    overflow: hidden;
    float:left;
}

.file-item2 .icon img{
    border-radius: 4px;
}

.file-item2 .info {
    margin-top:2px;
    display: block;
    float:left;
    padding:2px 4px;
    width: auto;
}

.file-item2 .info .filename {
    width:200px;
    float:left;
    text-align: left;
    margin-left: 10px;
}

.file-item2 .info .filesize {
    width:100px;
    float:left;
    text-align: left;
    margin-left: 10px;
}

.file-item2 .info .upload_time {
    width:140px;
    float:left;
    text-align: left;
    margin-left: 10px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}


.btn-success,
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus{
    background-color: #ED1B23;
    border-color: #FD1123;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #D60000;
    border-color: #D60000;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus{
    background-color: #4379A9;
    border-color: #57A2AD;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #365a7f;
    border-color: #46828c;
}
