@import '../../layouts/dir.css';

.dir-item {
    width:200px;
    float:left;
    /*cursor: pointer;*/
    display: block;
    overflow: hidden;
    padding-top:20px;
    color:#333;
}
/*
.breadcrumb {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
}
.breadcrumb a {
    color:#23527c;
}
.breadcrumb > li + li::before  {
    color: #ccc;
    content: ">";
    padding: 0 2px 0 0;
}*/

.dir-main {
    border-top:1px solid #999;
    overflow: hidden;
}

.dir-item:hover{
    /*background: #f5f5f5;*/
}

/*.dir-item .info.hover {
    color:#337ab7;
}*/
.dir-item .icon {
    display: block;
    width:128px;
    height:128px;
    /*margin-left:49px;*/
    overflow: hidden;
    margin:0 36px;
}
.dir-item .icon img{
    width:100%;
    border-radius: 2px;
}

.dir-item a {
    display: block;
    overflow: hidden;
    color:#000;
}

.dir-item .name {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
    height:20px;
    overflow: hidden;
}

.dir-item a:hover img {
    /* background: #e2e2e2;*/
}

.dir-item a:hover {
    /*color:#337ab7;*/
}

.dir-item a:hover .name {
    text-decoration: underline;
    /*background: #116cd6;
    border-radius: 2px;*/
}



/*
#list-head {
    position: fixed;
    z-index: 111;
    background: #FFF;
}

*/



#dir-nav {
    position: relative;
}

#dir-nav .total_count {
    position: absolute;
    top: 8px;
    right: 20px;
}

#buttons {
    background: #f7f7f7;
    border-bottom: solid #d2d2d2 1px;
    height: 51px;
    padding: 11px 20px;

}


#left_btns {
    float:left;
    display: block;
    width:400px;
}

#left_btns .btn {
    display: block;
    float:left;
    margin-right:4px;
    padding:3px 12px;
}

#right_btns {
    float:left;
    display: block;
    text-align: right;
    width:360px;
    padding-right: 10px;
    height:35px;
    line-height:35px;
}

#file_head {
    padding-left:15px;
}

#file_head ul {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    border-right: none;
    border-radius: 2px;
    color: #888;
    height: 41px;
    line-height: 41px;
    overflow: hidden;
    list-style: none;
    padding-left: 0;
    margin:0;

}

#file_head ul li {
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
    float: left;
    text-indent: 10px;
}

#file_head ul li.head_col_filename{
    width:500px;
}

#file_head ul li.head_col_filesize{
    width:120px;
}

#file_head ul li.head_col_uploadtime{
    width:164px;
    border-right: none;
}



/*#file-nav {
    padding: 0 4px;
}*/

#list-main {
    margin-top:128px;
    padding-left: 15px;

}

.file-item {
    height:122px;
    text-align: center;
    width:152px;
    margin:5px 5px 0 0;
    padding:0;
}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item .icon {
    border: 1px solid #fff;
    display: block;
    width:90px;
    height:92px;
    /*margin-left:49px;*/
    overflow: hidden;
    margin:2px 31px;
    padding:20px 16px;
    position: relative;
}
.file-item .icon.hover {
    border: 1px solid #666;
}
.file-item .icon img{
    border-radius: 4px;
}

.file-item .icon .file-check{
    position: absolute;
    left:-1px;
    top:-5px;
    display: none;
    border:1px solid #333;
    border-radius: 0;
    background: #333;

}

.file-item .info {
   /* display: inline-block;
    padding:2px 4px;*/
}
.file-item .icon.filethumb_icon {
    padding:0;
}

.file-item .info .filename {
    width:100%;
    text-align: center;
}
.file-item.file-checked .icon {
    border: 1px solid #666;
}
.file-item.file-checked .icon .file-check {
    display: block;
}
.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    /*background: #e2e2e2;*/
}

.file-item.hover .info{
   /* color:#FFF;
    background: #116cd6;
    border-radius: 2px;*/
}

.file-item2 {
    height:39px;
    line-height: 38px;
    float:left;
    display: block;
    overflow: hidden;
    width:100%;
    border-bottom: 1px solid #EBEBEB;
    padding:0;
}


.file-item2 .icon img{
    border-radius: 4px;
}

.file-item2 .info {
    display: block;
    float:left;
    width: 785px;
    overflow: hidden;
}

.file-item2 .info:hover {
    background: #F0F8FD;
}

.file-item2 .info .filename {
    width:500px;
    float:left;
    text-align: left;
    position: relative;
    overflow: hidden;
    word-break: break-all;
    height:38px;
}

.file-item2 .info .filename .file-checkbox {
    display: block;
    width:20px;
    overflow: hidden;
    float:left;
    margin-right:4px;
    margin-left:11px;
}

.file-item2 .info .filename .icon {
    display: block;
    width:20px;
    overflow: hidden;
    float:left;
    margin-right:4px;
    margin-left:0;
    height:38px;
}

.file-item2 .info .filename .filename_txt{
    width:300px;
    overflow: hidden;
    display: inline-block;
}

.file-item2 .info .filename .filename_txt a {
    /*width:200px;
    overflow: hidden;*/
    display: inline;
}

.file-item2 .info .filename .filename_txt a:hover {
    text-decoration: underline;
}

.file-item2.download-disable .info .filename .filename_txt,
.file-item2.download-disable .info .filename .filename_txt a{
    color:#999;
}
.file-item2.download-disable .info .filename .filename_txt a:hover{
    text-decoration: none;
    cursor:default;
}

.file-item2 .info .filesize {
    width:120px;
    padding-left:10px;
    float:left;
    text-align: left;
}

.file-item2 .info .upload_time {
    width:165px;
    padding-left:10px;
    float:left;
    text-align: left;
}

.file-item2 .info .upload_uid {
    width:64px;
    float:left;
    text-align: left;
    margin-left: 10px;
}

.file-item2 .info .download_times {
    width:64px;
    float:left;
    text-align: right;
    margin-left: 10px;
}

.file-item2 .info .filename .click_btns {
    position: absolute;
    text-align: left;
    right:10px;
    clear:both;
    top:0;
}

.file-item.hover{
    cursor: pointer;
}

/*.file-item.hover img {
    background: #e2e2e2;
}*/

.file-item.hover .info{
    /*color:#FFF;
    background: #116cd6;
    border-radius: 2px;*/
}


.btn-success,
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus{
    background-color: #ED1B23;
    border-color: #FD1123;
}


.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:hover,
.btn-success:focus {
    background-color: #D60000;
    border-color: #D60000;
}

.btn-primary,
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus{
    /*background-color: #4379A9;
    border-color: #57A2AD;*/
}

.btn-primary:hover,
.btn-primary:focus {
   /* background-color: #365a7f;
    border-color: #46828c;*/
}
.click_btns {
    display: none;
}

.click_btns .btn {
    padding:0 2px;
    line-height: 12px;
    font-size: 12px;
    background: transparent;
}

.pagination {
    margin: 0;
}



/*  modal_upload_common  */
#upload_progress .progress-item {
    height:24px;
    margin-bottom: 16px;
    overflow: hidden;
}

#upload_progress .progress-item .progress-title {
    width:200px;
    padding-right:20px;
    float:left;
    overflow: hidden;
    word-break: break-all;

}

#upload_progress .progress-item .progress {
    width:668px;
    float:left;
}

.dir-item.dl_enable.is-dir {
    cursor: pointer;
}

#file_head .head_cols li span.order-icon {
    background: rgba(0, 0, 0, 0) url("../../../images/common/list-view.png") no-repeat scroll -50px -45px;
    display: none;
    height: 10px;
    margin-left: 4px;
    vertical-align: middle;
    width: 9px;
}

#file_head .head_cols li.desend span.order-icon{
    background-position: -50px -45px;
    display: inline-block;
}
#file_head .head_cols li.ascend span.order-icon{
    background-position: -60px -45px;
    display: inline-block;
}
