#tree-div {
    background: #f5f5f5;
    overflow: hidden;
    overflow-x: scroll;
    min-height: 400px;
}
#tree-div h3 {
    padding:10px 0 0 20px;
    margin:0;
}

.ztree li span.button.ico_docu {
    background-position: -110px 0;
}