.breadcrumb {
    border-radius: 0;
    margin-bottom: 10px;
}

#buttons {
    padding: 0 4px;
}

#file-nav {
    padding: 0 4px;
}

.file-item {
    height:280px;
}


/*.file-item:hover{
    background: #f5f5f5;
}*/

/*.file-item .info.hover {
    color:#337ab7;
}*/

.file-item .icon {
    display: block;
    width:128px;
    margin-left:49px;
    overflow: hidden;
}

.file-item .icon img{
    width:100%;
    border-radius: 4px;
}

.file-item .info {
    margin-top:2px;
    display: inline-block;
    padding:2px 4px;
}

.file-item.hover{
    cursor: pointer;
}

.file-item.hover img {
    background: #e2e2e2;
}

.file-item.hover .info{
    color:#FFF;
    background: #116cd6;
    border-radius: 2px;
}
