#dir-main {
    width:720px;
    padding-left:20px;
    float:left;
}

#dir-sidebar-study-download {
    width:180px;
    margin-left:20px;
    float:left;
    background: #f5f5f5;
    padding:10px;
}

#dir-sidebar-study-download h3 {
    margin: 0;
    padding: 0;
}

#dir-sidebar-study-download ul {
    margin-top:10px;
}

#dir-sidebar-study-download ul li {
    height:42px;
    overflow: hidden;
}