#dir-sidebar-right .info-heading {
    text-align: center;
    padding:20px;
    border-bottom: 1px solid #ccc;
}

#dir-sidebar-right .info-list {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

#dir-sidebar-right .info-list .info-list-label{
    width:59px;
    display: block;
    float:left;
    text-align: right;
    border-right:1px solid #ccc;
    padding:4px;
}

#dir-sidebar-right .info-list .info-list-txt{
    width:99px;
    display: block;
    float:left;
    text-align: center;
    padding:4px;
}