.site-login {
    padding: 60px 0 120px;
}

.line-1 {
    color:#fff;

}

.line-2 {
    color:#fff;
    font-size:60px;
    margin-bottom: 50px;
}

.form-horizontal .control-label {
    color:#fff;
    /*background: #e00024;
    text-align: center;*/
    padding-bottom: 7px;
}

.form-horizontal label {
    color:#fff;
}

body {
    /*background: #9b1316;*/
    background: #ED1B23;
}

.has-error .help-block {
    color:#fff;
}