/*#site-index .panel {
    height:240px;
    display: block;
}*/


#site-index h3.panel-title a {
    font-size:18px;
}

#site-index .item-one,#site-index .item-two {
    width:220px;
    margin:0 10px 0 0;
    display: block;
    float:left;
    height:auto;
    overflow: hidden;
}

#site-index .item-one.item-last,#site-index .item-two.item-last{
    margin-right:0;
}

#site-index .item-one a{
    text-decoration: none;
}

#site-index .item-one .panel-heading {
    background: #362b39;
    cursor: pointer;
    color:#eee;
}

#site-index .item-one table tr {
    /*background: #e00024;*/
}

#site-index .item-one table tr:hover {
    /*background: #011957;*/
    cursor: pointer;
}


#site-index .item-one table tr a {
    color:#333;
    font-size:16px;
}



#site-index .item-one tr.item-count-1 {
    height:240px;
}
#site-index .item-one tr.item-count-2 {
    height:120px;
}
#site-index .item-one tr.item-count-3 {
    height:80px;
}
#site-index .item-one tr.item-count-4 {
    height:60px;
}
#site-index .item-one tr.item-count-5 {
    height:48px;
}
#site-index .item-one tr td {
    vertical-align: middle;
}

#site-index .item-two img {
    width: 100%;
}

#site-index .item-two .wx {
    padding:5px 0;
    border: 1px solid #333;
}


.wrap > .container {
    padding: 50px 15px 20px;
}

#recruitment_list {
    position:fixed;
    top:106px;
    right:10px;
    width:300px;
}

/*#email-login {
    height:80px;
}*/

#email-login article,#email-login aside {
    float:left;
}

#email-login article span a {
    background: #ED1B23;
    display: block;
    width: 220px;
    font-size:18px;
    text-align: center;
    cursor: pointer;
    padding: 37px 40px;
    color:#fff;
    text-decoration: none;
}

#email-login aside {
    background: #362b39;
    width:917px;
    height:100px;
    margin-left:3px;
}

#article-link {
    margin-top:3px;
}

#article-link article {
    margin-right:3px;
    float:left;
}

#article-link #article-link-3 {
    margin-right:0;
}

#article-link > article > span > a {
    height:200px;
    width:378px;
    padding:87px 168px;
    font-size:18px;
    display: block;
    cursor: pointer;
    background: #31b0d5;
    color:#fff;
    text-decoration: none;
}

#article-link > #article-link-1 > span > a {
    background: url('../images/site-index/1.jpg');
}

#article-link > #article-link-2 > span > a {
    background: url('../images/site-index/2.jpg');
}

#article-link > #article-link-3 > span > a {
    background: url('../images/site-index/3.jpg');
}