/*#site-index .panel {
    height:240px;
    display: block;
}*/
#news_list/*, #site-index*/ {
    padding-top:86px;
}

#site-index h3.panel-title a {
    font-size:18px;
}

#site-index .item-one,#site-index .item-two {
    width:220px;
    margin:0 10px 0 0;
    display: block;
    float:left;
    height:auto;
    overflow: hidden;
}

#site-index .item-one.item-last,#site-index .item-two.item-last{
    margin-right:0;
}

#site-index .item-one a{
    text-decoration: none;
}

#site-index .item-one .panel-heading {
    background: #362b39;
    cursor: pointer;
    color:#eee;
}

#site-index .item-one table tr {
    /*background: #e00024;*/
}

#site-index .item-one table tr:hover {
    /*background: #011957;*/
    cursor: pointer;
}


#site-index .item-one table tr a {
    color:#333;
    font-size:16px;
}



#site-index .item-one tr.item-count-1 {
    height:240px;
}
#site-index .item-one tr.item-count-2 {
    height:120px;
}
#site-index .item-one tr.item-count-3 {
    height:80px;
}
#site-index .item-one tr.item-count-4 {
    height:60px;
}
#site-index .item-one tr.item-count-5 {
    height:48px;
}
#site-index .item-one tr td {
    vertical-align: middle;
}

#site-index .item-two img {
    width: 100%;
}

#site-index #email-login {
    height:223px;
}

#site-index .item-two .wx {
    padding:5px 0;
    border: 1px solid #333;
}


.wrap > .container {
    padding: 50px 15px 20px;
}

#recruitment_list {
    position:fixed;
    top:106px;
    right:10px;
    width:300px;
}

.slideBox{ width:100%; height:302px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; right:5px; bottom:5px; z-index:1; }
.slideBox .hd ul{padding-left: 0; overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ list-style:none;float:left; margin-right:2px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer; }
.slideBox .hd ul li.on{ background:#f00; color:#fff; }
.slideBox .bd{ padding-left:0;position:relative; height:100%; z-index:0;   }
.slideBox .bd ul {padding-left: 0;}
.slideBox .bd li{ list-style:none;zoom:1; vertical-align:middle; }
.slideBox .bd img{ width:100%; height:300px; display:block;  }

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(/images/common/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
