/*#site-index .panel {
    height:240px;
    display: block;
}*/


#site-index h3.panel-title a {
    font-size:18px;
}

#site-index .item-one,#site-index .item-two {
    width:220px;
    margin:0 10px 0 0;
    display: block;
    float:left;
    height:auto;
    overflow: hidden;
}

#site-index .item-one.item-last,#site-index .item-two.item-last{
    margin-right:0;
}

#site-index .item-one a{
    text-decoration: none;
}

#site-index .item-one .panel-heading {
    background: #362b39;
    cursor: pointer;
    color:#eee;
}

#site-index .item-one table tr {
    /*background: #e00024;*/
}

#site-index .item-one table tr:hover {
    /*background: #011957;*/
    cursor: pointer;
}


#site-index .item-one table tr a {
    color:#333;
    font-size:16px;
}



#site-index .item-one tr.item-count-1 {
    height:240px;
}
#site-index .item-one tr.item-count-2 {
    height:120px;
}
#site-index .item-one tr.item-count-3 {
    height:80px;
}
#site-index .item-one tr.item-count-4 {
    height:60px;
}
#site-index .item-one tr.item-count-5 {
    height:48px;
}
#site-index .item-one tr td {
    vertical-align: middle;
}

#site-index .item-two img {
    width: 100%;
}

#site-index #email-login {
    height:223px;
}

#site-index .item-two .wx {
    padding:5px 0;
    border: 1px solid #333;
}


.wrap > .container {
    padding: 50px 15px 20px;
}

#recruitment_list {
    position:fixed;
    top:106px;
    right:10px;
    width:300px;
}


