.wrap {
    padding:0;
    margin:0;
}
#dir-container {
    /*position: absolute;
    margin:0 200px;*/
    position: relative;
    overflow: hidden;
    padding:85px 0 0 0;

}

#dir-sidebar {
    width:160px;
    box-shadow: 1px 0 2px #888888;
    position: fixed;
background: #f5f5f5;
    height:100%;
    /*float:left;*/
    z-index: 131;
}

#dir-sidebar-right {
    width:160px;
    /*border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;*/
    margin-left: 960px;
    position: fixed;
    background: #f5f5f5;
    box-shadow: -1px 0 2px #888888;
    height:100%;
    z-index: 131;
}

#dir-main {
    margin-left: 160px;
    /*margin-right: 160px;*/
    /*margin-left:200px;*/
    width:800px;
    /*padding-left:20px;*/
    /*float:left;*/
    /*position: absolute;*/
    /*top:85px;*/
    clear:both;
    overflow: hidden;
}

